1. Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [336]:
def is_two(a):
    if a== 2 or a=='2':
        return True
    else:
        return False

In [337]:
is_two(4)

False

Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [341]:
def is_vowel(char):
    return char.lower() in 'aeiou'

In [347]:
is_vowel('u')

True

Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [377]:
def is_consonant(char):
  return char.lower() not in 'aeiou'

SyntaxError: invalid syntax (4063160298.py, line 2)

In [133]:
is_consonant('b')

True

In [134]:
consonant=is_consonant('b')

In [136]:
consonant

True

In [306]:
vowel=is_vowel('')

In [307]:
vowel

True

Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [350]:
def is_word(string):
    if is_consonant(string[0]):
        string=string.capitalize()
        return string

In [351]:
is_word('hello')

'Hello'

In [380]:
def is_word(string):
    if is_consonant(string[0]):
        string = string.capitalize()
    return string

In [381]:
is_word('hola')

'Hola'

Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [353]:
def calculate_tip(bill,tip):
    return bill*tip+bill

In [354]:
calculate_tip(23,.15)

26.45

Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [357]:
def apply_discount(discount,price):
    return price -(discount * price)

In [359]:
apply_discount(.50,235)

117.5

Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [179]:
def handle_commas(input_string): 
    return int(input_string.replace(',',''))

In [360]:
handle_commas('2,3000,7')

230007

Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [382]:
grade=88

In [387]:
def get_letter_grade(grade):
    if grade >=90:
        letter_grade='A'
    elif grade >=80:
        letter_grade= 'B'
    elif grade >=70:
        letter_grade= 'C'
    elif grade >=60:
        letter_grade= "D"
    else:
        letter_grade ='F'
    return letter_grade

In [388]:
get_letter_grade(33)

'F'

In [240]:

def get_letter_grade(grade):
    grade >=90
    grade >=80
    grade >=70
    grade >=60
    grade >=0
    return grade

SyntaxError: invalid syntax (3036228161.py, line 1)

In [ ]:
get_letter_grade(20)

Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [389]:
string = "Hello"

In [392]:
new_string=''

for char in string:
    print(char,is_vowel(char))
    if not is_vowel(char):
        new_string +=char

H False
e True
l False
l False
o True

In [395]:
def remove_vowels(string):
    new_string=''

    for char in string:
        if not is_vowel(char):
            new_string +=char
    return new_string

In [396]:
remove_vowels('Chellyann Moreno')

'Chllynn Mrn'

Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
anything that is not a valid python identifier should be removed
leading and trailing whitespace should be removed
everything should be lowercase
spaces should be replaced with underscores
for example:
Name will become name
First Name will become first_name
% Completed will become completed

In [408]:
string= '  $ Chelly 36   '

In [409]:
string.strip()

'$ Chelly 36'

In [410]:
string.strip().lower()

'$ chelly 36'

In [411]:
string.strip().lower().replace(" ",'_')

'$_chelly_36'

In [419]:
new_string=''

for char in string:
    print(char)
    if char.isalpha() or char.isdigit() or char=='_':
        print('this is valid')
        new_string +=Char

$

C
this is valid

NameError: name 'Char' is not defined

In [422]:
def correct_name(string):
    string = string.strip().lower().replace(' ','_')
    
    new_string = ''

    for char in string:
        if char.isalpha() or char.isdigit() or char == '_':

            new_string += char

    new_string = new_string.strip('_')
    
    return new_string

In [423]:
correct_name('$ Chelly 36')

'chelly_36'

Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [430]:
ls=[1,1,1]

In [434]:
total =0
some_sums=[]

In [436]:
for numb in ls:
    print(numb)
    total+=numb
    print(total)
    some_sums.append(total)
    
    some_sums

1
4
1
5
1
6

In [437]:
def cumulative_sum(ls):
    total = 0 
    some_sums = []

    for numb in ls:
    #     print(numb)
        total += numb
#         print(total)
        some_sums.append(total)

    return some_sums

In [440]:
cumulative_sum([1,2,3,4])

[1, 3, 6, 10]